<p id="notice"><%= notice %></p>

<p>
  <strong>Shipping name:</strong>
  <%= @order.shipping_name %>
</p>

<p>
  <strong>Billing name:</strong>
  <%= @order.billing_name %>
</p>

<p>
  <strong>Index:</strong>
  <%= @order.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @order.show %>
</p>

<p>
  <strong>New:</strong>
  <%= @order.new %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
