 <p id="notice"><%= notice %></p>

<h1>posts</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Body</th>
      <th>Conclusion</th>
      <th>About Author</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <% if post.ispublish == 1%>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.body %></td>
        <td><%= post.conclusion %></td>
        <td><%= post.aboutauthor %></td>
        <td><%= post.user.username %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <%end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New post', posts_path ,method: :create%> <br>
<%= link_to 'New',new_post_path%> <br>
<%=link_to 'No publish ',another_index_posts_path %>
<%# render 'another_index' %>